* {
  box-sizing: border-box;
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.row::after {
  clear: both;
  content: "";
  display: table;
}
/* for smart phone */
[class*="col-"] {
  width: 100%;
}
/* for table */
@media only screen and (min-width: 600px) {
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.head {
  background-color: rgb(16, 86, 166);
  padding: 15px;
}
.footer {
  background-color: rgba(47, 87, 205, 0.968);
  text-align: center;
  font-size: 20px;
  padding: 15px;
  clear: both;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.menu li {
  padding: 8px;
  background-color: rgba(192, 30, 206, 0.712);
  margin-bottom: 5px;
}
.right {
  background-color: rgb(0, 119, 255);
  text-align: center;
  padding: 15px;
  font-size: 14px;
}
.menu li:hover {
  background-color: blueviolet;
}
